/* Make a ghosted button, maybe with a different cursor even */

.button-disabled {
    background-color: gray;
}

.button-disabled:hover {
    background-color: gray;
}

.LoginContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
