.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 5px 10px 5px 10px;
    min-width: 160px;
    background-color: #3c3934;
    text-align: center;
    border-radius: 2px;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #212020;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 160px;
    z-index: 1;
}

.dropdown-item {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #626262;
}

button {
    background-color: #e4bd11;
}