.results-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #585b5e;
  padding: .75em;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
	height: 50vh
}

.values {
	width: 90%;
  border: .1em solid aliceblue;
  border-radius: 12px;
  padding: .5em;
}

.results {
	align-items: center;
	width: 90%;

}
