.HomeContainer {
    display: flex;
    background-color: rgb(163, 163, 163);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: .5;
}

.ResultsContainer {
  flex: 2;
}

nav {
  display: flex;
  gap: 1em;
  background-color: #f4f4f4;
  border-radius: 12px;
}

.nav {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav.active {
  background-color: #ffd900;
  color: #333;
}