.HomeContainer {
    display: flex;
    background-color: rgb(163, 163, 163);
    /* flex-direction: row; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    /* align-items: center; */
    align-items: flex-start;
    width: 90vw;
    padding: 1em;
}